swiftlint.result.json
# Xcode
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
CameraKit.xcodeproj/xcuserdata/*
CameraKit.xcworkspace/xcshareddata/*
.xcbkptlist
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.orig
readme.txt
.DS_Store
*.swp
#CocoaPods
Pods
#Podfile.lock
#R.swift
*.generated.swift
#fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/README.md
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
build

